<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cập nhậtsách</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <style>
		h3 {
        	text-align: center;
        	margin-top: 20px;
        	margin-bottom: 20px;  
        	color: rgb(2,88,155);     	
    	}
    	.container-body {
			border: 2px solid rgb(182,232,241);
    		border-radius: 20px;
    		margin-left: 80px;
    		margin-right: 80px;
    		margin-top: 10px;
    		margin-bottom: 30px;   		
		}
		.frame-body {
			margin: 30px;
		}
		
		.row-02 {
			display: flex;
		    justify-content: center;
		    margin-top: 25px;
		    margin-bottom: 25px;
		    
		}
		
		.btn-save {
			background-color: rgb(2,88,155);
			border-radius: 10px;
			color: white;
		}
		.btn-save:hover {
			color: rgb(182,232,241)
		}
		
		.btn-out {
			border-radius: 10px;
			color: black;
			background-color: white;
			border: 2px solid rgb(2,88,155);			
		}
		.btn-out:hover {
			color:rgb(2,88,155); /* Thay đổi màu văn bản khi trỏ chuột vào nút */
			background-color: azure;
		}

    </style>
</head>
<body>
	<div th:replace="~{admin/headeradmin :: header}"></div>
    <div class="container">
        <h3>CẬP NHẬT SÁCH</h1>

        <!-- Hiển thị thông báo nếu có -->
	    <div th:if="${param.message}" class="alert"
			th:classappend="${#strings.containsIgnoreCase(param.message, 'thành công') ? 'alert-success' : 'alert-danger'}">
			<span th:text="${param.message}"></span>
		</div>
		
    	<div class="container-body">
			<div class="frame-body">
		        <form th:action="@{/updatebook}" th:object="${book}" method="POST" enctype="multipart/form-data">
					
					<div class="row-01">			
			            <div class="form-group">
						    <label for="id" style="color: rgb(2,88,155);">Mã:</label>
						    <input type="text" style="border-radius: 10px;" class="form-control" id="id" name="id" th:value="${book.id}" readonly>
						</div>
						
						<div class="form-group">
						    <label for="name" style="color: rgb(2,88,155);">Tên sách:</label>
						    <input type="text" style="border-radius: 10px;" class="form-control" id="name" name="name" th:field="*{name}" required>
						</div>
						
						<div class="form-group">
						    <label for="author" style="color: rgb(2,88,155);">Tác giả:</label>
						    <input type="text" style="border-radius: 10px;" class="form-control" id="author" name="author" th:field="*{author}" required>
						</div>
						
						<div class="form-group">
						    <label for="price" style="color: rgb(2,88,155);">Giá:</label>
						    <input type="number" style="border-radius: 10px;" class="form-control" id="price" name="price" th:field="*{price}" required>
						</div>
						
						<div class="form-group">
						    <label for="categoryId" style="color: rgb(2,88,155);">Danh mục:</label>
						    <select class="form-control" id="categoryId" name="categoryId" required style="border-radius: 10px;">
						        <option th:each="category : ${categories}" th:value="${category.id}" th:selected="${category.id == book.category.id}" th:text="${category.name}"></option>
						    </select>
						</div>
						
						<div class="form-group">
						    <label for="publisher" style="color: rgb(2,88,155);">Nhà xuất bản:</label>
						    <input type="text" style="border-radius: 10px;" class="form-control" id="publisher" name="publisher" th:field="*{publisher}" required>
						</div>
						
						<div class="form-group">
						    <label for="description" style="color: rgb(2,88,155);">Mô tả:</label>
						    <textarea style="border-radius: 10px;" class="form-control" id="description" name="description" rows="4" required th:field="*{description}"></textarea>
						</div>
						
						<div class="form-group">
						    <label for="status" style="color: rgb(2,88,155);">Trạng thái:</label>
						    <select class="form-control" id="status" name="status" th:field="*{status}" style="border-radius: 10px;">
						        <option value="0" th:selected="${book.status == 0}">Ngừng kinh doanh</option>
						        <option value="1" th:selected="${book.status == 1}">Đang kinh doanh</option>
						    </select>
						</div>
						
						<div class="form-group">
						    <label for="detail" style="color: rgb(2,88,155);">Chi tiết:</label>
						    <textarea style="border-radius: 10px;" class="form-control" id="detail" name="detail" rows="4" required th:field="*{detail}"></textarea>
						</div>					
						<div class="form-group">
						    <label for="quantity" style="color: rgb(2,88,155);">Số lượng:</label>
						    <input type="number" id="quantity" name="quantity" style="border-radius: 10px;" class="form-control" min="0" th:field="*{quantity}" required>
						</div>
					</div>
					
					
					<div class="row-02">
						<input type="hidden" name="img" th:value="${book.img}">
						
						<div class="col">
							<div class="form-group">
							    <img th:src="${book.img + '1' + '?v=' + randomNumber}" alt="Book Image 1" width="200" style="border-radius: 15px;"><br>
							</div>
						</div>
						
						<div class="col">
							<div class="form-group">
							    <img th:src="${book.img + '2' + '?v=' + randomNumber}" alt="Book Image 2" width="200" style="border-radius: 15px;"><br>
							</div>
						</div>
						
						<div class="col">
							<div class="form-group">
							    <img th:src="${book.img + '3' + '?v=' + randomNumber}" alt="Book Image 3" width="200" style="border-radius: 15px;"><br>
							</div>
						</div>
						
						<div class="col">
							<div class="form-group">
							    <img th:src="${book.img + '4' + '?v=' + randomNumber}" alt="Book Image 4" width="200" style="border-radius: 15px;"><br>
							</div>
						</div>
						
					</div>
					<div class="form-group">
					    <label for="image" style="color: rgb(2,88,155);">Ảnh 1:</label>
					    <input type="file" class="form-control-file" id="image1" name="image1" accept="image/*">
					</div>
					
					<div class="form-group">
					    <label for="image" style="color: rgb(2,88,155);">Ảnh 2:</label>
					    <input type="file" class="form-control-file" id="image2" name="image2" accept="image/*">
					</div>
					
					<div class="form-group">
					    <label for="image" style="color: rgb(2,88,155);">Ảnh 3:</label>
					    <input type="file" class="form-control-file" id="image3" name="image3" accept="image/*">
					</div>
					
					<div class="form-group">
					    <label for="image" style="color: rgb(2,88,155);">Ảnh 4:</label>
					    <input type="file" class="form-control-file" id="image4" name="image4" accept="image/*">
					</div>
					
					<div class="text-center mb-4">
					    <button type="submit" class="btn btn-save">Lưu</button>
					    <a th:href="@{/managedetailbook(bookId=${book.id})}" class="btn btn-out">Thoát</a>
					</div>
		        </form>
			</div>
    	</div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <div th:replace="~{admin/footeradmin :: footer}"></div>
</body>
</html>