<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Insert title here</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
        
    <style>
    	 
	</style>
</head>
<body>
    <!-- Footer -->
  	<!-- Copyright -->
    <footer class="page-footer font-small blue bg-light" >
        <div class="container" style="background-color: aliceblue;">
			<div class="container-inner">
        	</div>
        	<div class="container-inner">
				<div class="row" >
					<div class="col-md-4">
						<div style="border-right: 1px solid #cecece;">
							<div class="row-01">
								<a href="#" th:href="@{/}" style="color: rgb(33,31,127); margin-top: 30px; text-align: left; margin-bottom: 15px;  margin-left: 15px; font-weight: 500; font-size: 30px;">Knowledge Young</a>
							</div>
							
							<div class="row-02">
								<p style="text-align: justify; margin-right: 30px; margin-left: 15px;">Khu phố 6, Phường Linh Trung, Quận Thủ Đức, TP. HCM, Việt Nam</p>
							</div>
							
							<div class="row-03">
								<p style="text-align: justify; margin-right: 30px; margin-left: 15px;">Knowledge Young chấp nhận các đơn đặt hàng qua mạng và sẽ chuyển hàng đến tận nơi cho khách hàng. 
									Tuy nhiên, chúng tôi KHÔNG cung cấp dịch vụ mua hàng và nhận hàng trực tiếp tại văn phòng hoặc bất kỳ cửa hàng Knowledge Young nào trên toàn quốc.</p>
							</div>
						</div>
					</div>
					
					<div class="col-md-8">
						<div class="row" >
							
							<div class="col-sm-6 col-md-4 col-sms-6 col-smb-12">
								<div class="row-04">
									<h5 style="color: rgb(33,31,127); margin-top: 40px; text-align: left; margin-bottom: 15px;">DỊCH VỤ</h4>									
								</div>
								<div class="row-05">
									<p style="font-size: 14px;">Điều khoản sử dụng</p>	
									<p style="font-size: 14px;">Chính sách bảo mật thông tin cá nhân</p>	
									<p style="font-size: 14px;">Chính sách bảo mật thanh toán</p>
									<p style="font-size: 14px;">Giới thiệu Knowledge Young</p>
									<p style="font-size: 14px;">Hệ thống trung tâm - nhà sách</p>
								</div>
							
							</div>
							
							<div class="col-sm-6 col-md-4 col-sms-6 col-smb-12">
								<div class="row-06">
									<h5 style="color: rgb(33,31,127); margin-top: 40px; text-align: left; margin-bottom: 15px;">HỖ TRỢ</h5>									
								</div>
								<div class="row-07">
									<p style="font-size: 14px;">Chính sách đổi - trả - hoàn tiền</p>	
									<p style="font-size: 14px;">Chính sách bảo hành - bồi hoàn</p>	
									<p style="font-size: 14px;">Chính sách vận chuyển </p>
									<p style="font-size: 14px;">Chính sách khách sỉ</p>
									<p style="font-size: 14px;">Phương thức thanh toán</p>
								</div>
								
							</div>
							
							<div class="col-sm-6 col-md-4 col-sms-6 col-smb-12">
								<div class="row-08">
									<h5 style="color: rgb(33,31,127); margin-top: 40px; text-align: left; margin-bottom: 15px;">TÀI KHOẢN CỦA TÔI</h5>									
								</div>
								<div class="row-09">
									<p style="font-size: 14px;">Đăng nhập/Tạo mới tài khoản</p>	
									<p style="font-size: 14px;">Thay đổi địa chỉ khách hàng</p>	
									<p style="font-size: 14px;">Chi tiết tài khoản</p>
									<p style="font-size: 14px;">Lịch sử mua hàng</p>
								</div>
							</div>
							
						</div>						
					</div>
				</div>
        	</div>
        </div>      
        <!-- Copyright -->
        
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</body>
</html>
